<!--NORMAL DISPLAY MODE-->


<div ng-hide="supp === itemToEdit" ng-click="setEdit(supp)">
    <h3 >{{supp.name}}</h3>
    <ul>
        <li>Description: {{supp.description}}</li>
        <li>Dosage: {{supp.dosage}}</li>
    </ul>
    <h3>Benefits</h3>
    <ul>
        <li ng-repeat="benefit in supp.benefits">{{benefit.text}}</li>
    </ul>
</div>



<!--EDIT MODE-->

<div ng-show="supp === itemToEdit"> 
    <div>
        <button type="button" class="btn btn-danger pull-right" ng-click="delete(supp)">
            <span class="glyphicon glyphicon-trash icon-white"></span>
            Delete
        </button>
        <button type="button" class="btn btn-success pull-right" ng-click="save(supp)">
            <span class="glyphicon glyphicon-ok icon-white"></span> Save
        </button>
    </div>
    <div>
        <a ng-hide="titleEditMode" ng-click="toggleTitleEdit()">
            <h3>{{supp.name}} (edit mode)</h3>
        </a>
        <h3 ng-show="titleEditMode" ><form ng-submit="saveTitle()"><input ng-model="supp.name" type="text"></form>
        </h3>
    </div>
    <div >
        <ul>
            <li class="input-group">
                <span class="input-group-addon">Description: </span>
                <input class="form-control" ng-model="supp.description" type="text"> 
            </li>
            <li class="input-group">
                <span class="input-group-addon">Dosage:</span> 
                <input class="form-control" ng-model="supp.dosage" type="text"> 
            </li>
        </ul>
    </div>
    <div>
        <h3>Benefits</h3>
        <ul>
            <span ng-repeat="benefit in supp.benefits">
                <!--{{benefit.text}}-->
                <input class="form-control" ng-model="benefit.description" type="text" placeholder="why">
            </span>
            <!--Already existing benefits-->
            <!--add new benefit to new item-->
            <form ng-submit="addBenefit()">
                <input class="form-control" type="text" placeholder="Enter additional benefit..." ng-model="newBenefit.description">New
                <button type="submit" class="btn btn-primary btn-lg" ng-click="addBenefit()">Add</button>
            </form>
        </ul>
    </div>
</div>