<!--<button ng-click="setEdit()">change data</button>-->
<div ng-hide="supp === itemToEdit" ng-click="setEdit(supp)">
    <h3 >{{supp.name}}</h3>
    <ul>
        <li>Description: {{supp.description}}</li>
        <li>Dosage: {{supp.dosage}}</li>
    </ul>
    <h3>Benefits</h3>
    <ul>
        <li ng-repeat="benefit in supp.benefits">{{benefit}}</li>
    </ul>
</div>
<div ng-click="setEdit()" ng-show="supp === itemToEdit"> 
    <div>
        <button type="button" class="btn btn-danger pull-right" ng-click="delete(supp)">
            <span class="glyphicon glyphicon-trash icon-white"></span>
            Delete current
        </button>
        <button type="button" class="btn btn-success pull-right" ng-click="update()">
            <span class="glyphicon glyphicon-ok icon-white"></span> Save
        </button>
    </div>
    <div>
        <a ng-hide="titleEditMode" ng-click="toggleTitleEdit()">
           <h3>{{supp.name}} (edit mode)</h3>
        </a>
        <h3 ng-show="titleEditMode" ><input ng-model="supp.name" type="text">
        </h3>
    </div>
    <div >
        <ul>
            <li class="input-group">
                <span class="input-group-addon">Description: </span>
                <input class="form-control" ng-model="supp.description" type="text"> 
            </li>
            <li class="input-group">
                <span class="input-group-addon">Dosage:</span> 
                <input class="form-control" ng-model="supp.dosage" type="text"> 
            </li>
        </ul>
    </div>
    <div>
        <h3>Benefits</h3>
        <ul>
            <li ng-repeat="benefit in supp.benefits">
                <input class="form-control" ng-model="benefit" type="text">
            </li>
            <li>
                <form>
                    <input class="form-control" type="text" placeholder="Enter additional benefit..." ng-model="newBenefit.text">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="addBenefit()">Add</button>
                </form>
            </li>
        </ul>
    </div>
</div>