<div class="jumbotron text-center">
    <h1>Journal</h1>
    <div>
        <p>{{currentDate| date : 'longDate'}}</p>
        <p>Day <strong>{{journalIndex + 1}}</strong> of <strong>30</strong></p>
        <h5><a href="" ng-show="currentDate.getTime() !== todayFormatted.getTime()" ng-click="goToToday()">(go to today)</a></h5>
        <br />
        <a href="" ng-click="previousDay()" class="glyphicon glyphicon-chevron-left" style="float: left; text-decoration : none; font-size:30px"></a>
        <a href="" ng-click="nextDay()"  class="glyphicon glyphicon-chevron-right" style="float: right; text-decoration : none; font-size:30px"></a>
        <div class="center-block" style="padding-left:10%; padding-right:10%" >
            <table class="table table-condensed" style="padding:50%">
                <tr ng-repeat="supp in supps"  style="padding-left: 90px"><td>
                        <h3>{{supp.name}}</h3>
                        <table class="table table-hover table-condensed" >
                            <tr ng-repeat="benefit in supp.benefits" >
                                <td >
                                    <h4 class="col-md-6 text-left" style="vertical-align:top">{{benefit.description}}</h4>
                                </td>
                                <td>
                                    <h5 class="text-left col-md-6 star" date="date" score="benefit.score"></h5>      
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>


    </div>
</div>