<div class="jumbotron text-center">
    <h1>Currently tracked supplements</h1>
    <p>(Click to edit)</p>
    <p>{{message}}</p>
    <div class="list-group text-left">
        <div class="list-group-item" ng-repeat="supp in supps"   >
            <span supp-editable supp="supp" item-to-edit="itemToEdit" item="item" selected="selected" delete="delete(supp)" save="save(supp)">
            </span>
        </div>
        <span>
            <span supp-editable ng-show="showInitialEmptyItem" supp="initSupp" item-to-edit="itemToEdit" item="item" selected="selected" delete="delete(item)" save="save(initSupp)"></span>
        </span>
        <div class="list-group-item">
            <button type="button" class="center-block btn btn-primary" ng-click="addSupp()" addBenefit="addBenefit"> 
                <span class="glyphicon glyphicon-plus icon-white"></span>
            </button>
        </div>
    </div>
</div>
