<div class="jumbotron text-center">
    <h1>Currently tracked supplements</h1>
    <p>{{message}}</p>
    <h2>{{windowMessage.text}}</h2>
    <div class="list-group text-left">
        <div class="list-group-item" ng-repeat="supp in supps"   >
            <span supp-editable supp="supp" item-to-edit="itemToEdit" on-refresh="refreshList"  window-message="windowMessage" lower="lower" object="object">
            </span>
        </div>
        <div class="list-group-item" supp-editable ng-sdhow="showInitialEmptyItem" supp="initSupp" item-to-edit="itemToEdit" on-refresh="refreshList" window-message="windowMessage">
        </div>
        <div class="list-group-item">
            <button type="button" class="center-block btn btn-primary" ng-click="addSupp()" addBenefit="addBenefit"> 
                <span class="glyphicon glyphicon-plus icon-white"></span>
            </button>
        </div>
    </div>
</div>
