body {
  background: #303030;
  padding: 30px;
  padding-bottom: 70px;
  font-family: Century Gothic, Arial, Courier New, Sans-Serif; 
}

.footer {
  background-color: rgba(73, 68, 68, 0.2);
  text-align: center;
  color:  #777;
}

.footer p{
  color : #777;
}
.navbar{
  border-radius: 0px;
  padding-left: 2em;
}

.main {
  border-radius: 0px;
  background-color: #eee;
  padding: 30px;
  maring-bottom:30px;
}


.chart {
    background: #eee;
    padding: 3px;
}
 
.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
 
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
/*
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}*/
/*
.x.axis path {
  display: none;
}*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
} 
